* {
  width: 1024px;
  margin: auto;
}

header {
  height: 90px;
}

h1{
  display: none;
}

.wrapper-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 50px;
  padding-left: 0px; 
}

nav ul > li {
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

.navi {
  width: 100%;
}

li.navi {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  overflow: hidden;
}

.rightSec {
  float: left;
  width: 30%;
  background-color:  rgb(211, 198, 17);
}

.leftSec {
  float: right;
  width: 70%;
  //background-color: black;
}

.name {
  text-align: center;
}

.avatar {
  display: inline-block;
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  top: 10px;
  left: 10px;
  border: 5px solid #cfc425;
  border-radius: 100px;
}
div.avatar {
  
}

img {
  width: 400px;
  position: relative;
  bottom: 25px;
  left: -75px;
}

